@import "tailwindcss";

@theme {
    --breakpoint-xs: 320px;
    --breakpoint-2xs: 375px;
}

@keyframes infoLayoutAnimation {
    0% {
        top: auto;
        left: auto;
        width: 100%;
        height: 80px;
        color: black;
        opacity: 1;
        background-color: #F0F0F0;
        padding: 0.75rem;

    }

    15% {
        top: 50%;
        left: 50%;
    }

    100% {
        top: 50%;
        left: 50%;
        width: 90%;
        height: 90%;
        color: white;
        opacity: 0.75;
        background-color: black;
        transform: translate(-50%, -50%);
        padding: 0 30px 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.infoLayout {
    transition: all 0.5s ease;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #F0F0F0;
    z-index: 5;
}

.group:hover .infoLayout {
    animation: infoLayoutAnimation 0.5s forwards;
}

.group:hover .infoLayout_btn {
    display: block;
}

.group:hover .infoLayout_date {
    margin-bottom: 8px;
}

.group:hover .infoLayout_title {
    margin-bottom: 20px;
}

.group:hover .infoLayout_type {
    top: 10px;
}

.custom-scroll::-webkit-scrollbar {
    width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
    background-color: transparent;
}